<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Student</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<form th:action="@{/newStudent}" th:object="${student}" method="post">
			<div class="row">
				<div class="col-sm-12 d-flex justify-content-center">
					<nav class="navbar navbar-light bg-light">
						<span class="navbar-brand h1">New Student</span>
					</nav>
				</div>
			</div>
			<div class="row mt-2">
				<label for="id" class="col-sm-3 col-form-label text-right">StudentID</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="id"
						 th:field="*{id}">
				</div>
			</div>
			<div class="row mt-2">
				<label for="name" class="col-sm-3 col-form-label text-right">Name</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="name"
						 th:field="*{name}">
				</div>
			</div>
			<div class="row mt-2">
				<label for="male" class="col-sm-3 col-form-label text-right">Birthday</label>
				<div class="col-sm-6 text-left">
					<input type="date" class="form-control" id="male"
						
						th:field="*{birthday}">
				</div>
			</div>
			<div class="row mt-2">
				<label for="male" class="col-sm-3 col-form-label text-right">Male</label>
				<div class="col-sm-6 text-left">
					<input type="checkbox" class="form-control" id="male"
					
						th:field="*{male}">
				</div>
			</div>
			<div class="row mt-2">
				<label for="placeOfBirth" class="col-sm-3 col-form-label text-right">Place
					of birth</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="placeOfBirth"
						 th:field="*{placeOfBirth}">
				</div>
			</div>
			<div class="row mt-2">
				<label for="address" class="col-sm-3 col-form-label text-right">Address</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="address"
						 th:field="*{address}">
				</div>
			</div>
			<div class="row mt-2">
				<label for="depName" class="col-sm-3 col-form-label text-right">Department</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="depName"
						 th:field="*{depName}">
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-sm d-flex justify-content-center">
					<input type="submit" class="btn btn-outline-primary" value="Submit">
					&nbsp; <a th:href="@{/}" class="btn btn-outline-danger">Cancel</a>
				</div>
			</div>
		</form>
	</div>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>