<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Detail</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 d-flex justify-content-center">
				<nav class="navbar navbar-light bg-light">
					<span class="navbar-brand h1 font-weight-bolder">Student
						Detail</span>
				</nav>
			</div>
		</div>
		<div class="row mt-2">
			<label for="id" class="col-sm-3 col-form-label text-right">StudentID</label>
			<div class="col-sm-6">
				<input type="text" readonly class="form-control" id="id"
					th:value="${student.id}">
			</div>
		</div>
		<div class="row mt-2">
			<label for="name" class="col-sm-3 col-form-label text-right">Name</label>
			<div class="col-sm-6">
				<input type="text" readonly class="form-control" id="name"
					th:value="${student.name}">
			</div>
		</div>
		<div class="row mt-2">
			<label for="male" class="col-sm-3 col-form-label text-right">Birthday</label>
			<div class="col-sm-6 text-left">
				<input type="text" readonly class="form-control" id="male"
					th:value="${#dates.format(student.birthday, 'yyyy-MM-dd')}">
			</div>
		</div>
		<div class="row mt-2">
			<label for="male" class="col-sm-3 col-form-label text-right">Male</label>
			<div class="col-sm-6 text-left">
				<input type="checkbox" disabled class="form-control" id="male"
					th:checked="${student.male == true ? 'checked': ''}">
			</div>
		</div>
		<div class="row mt-2">
			<label for="placeOfBirth" class="col-sm-3 col-form-label text-right">Place
				of birth</label>
			<div class="col-sm-6">
				<input type="text" readonly class="form-control" id="placeOfBirth"
					th:value="${student.placeOfBirth}">
			</div>
		</div>
		<div class="row mt-2">
			<label for="address" class="col-sm-3 col-form-label text-right">Address</label>
			<div class="col-sm-6">
				<input type="text" readonly class="form-control" id="address"
					th:value="${student.address}">
			</div>
		</div>
		<div class="row mt-2">
			<label for="depName" class="col-sm-3 col-form-label text-right">Department</label>
			<div class="col-sm-6">
				<input type="text" readonly class="form-control" id="depName"
					th:value="${student.depName}">
			</div>
		</div>
		<div class="row mt-3">
			<div class="col-sm d-flex justify-content-center">
				<a th:href="@{/}" class="btn btn-outline-primary text-primary">Student
					List</a> &nbsp; <a th:href="@{/showFormEdit(id=${student.id})}"
					class="btn btn-outline-danger text-danger">Edit</a>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
</html>